@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 3rem;
  line-height: 1;
  color: #090909;
}

h3{
  font-size: 2rem;
  line-height: 2.25rem;
  color: #121212;
}


p{
  color: #252525;
}
